<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://lite-test-db.documents.azure.com:443/" />
    <add key="PrimaryKey" value="E9Vm0QMTFexAgoFvQbRSJtDnfuyBjp4YRr0f5ykmFWSNhuQVr8ke3rCcC7BxXAapUNpiKWtZgaU4ACDb4sgTgQ==" />
  </appSettings>
</configuration>